{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/final_format.css') }}">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <span class="navbar-brand">AI for Agriculture</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="confidence-display mr-3">
                <i class="fas fa-chart-line"></i>
                Confidence: <strong>{{ "%.1f"|format(g.latest_confidence * 100) }}%</strong>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/label.html">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">Update Profile</a>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>

<div class="container mt-4">
    <h3 class="font-weight-light">Labeling Accuracy</h3>
    <div class="row">
        <div class="col-md-6">
            <p>Your accuracy: <strong>{{ user_accuracy }}%</strong></p>

            {% if user_total > 0 %}
            <p>Total labeled: {{ user_total }}<br>
               Correct labels: {{ user_correct }}<br>
               Incorrect labels: {{ user_total - user_correct }}</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <p>Your Model's accuracy: <strong>{{ user_model_accuracy }}%</strong></p>

            {% if user_model_total > 0 %}
            <p>Total labeled: {{ user_model_total }}<br>
               Correct labels: {{ user_model_correct }}<br>
               Incorrect labels: {{ user_model_total - user_model_correct }}</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <p>All User's accuracy: <strong>{{ all_user_accuracy }}%</strong></p>

            {% if all_user_total > 0 %}
            <p>Total labeled: {{ all_user_total }}<br>
               Correct labels: {{ all_user_correct }}<br>
               Incorrect labels: {{ all_user_total - all_user_correct }}</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <p>All User's Model accuracy: <strong>{{ all_model_accuracy }}%</strong></p>

            {% if all_model_total > 0 %}
            <p>Total labeled: {{ all_model_total }}<br>
               Correct labels: {{ all_model_correct }}<br>
               Incorrect labels: {{ all_model_total - all_model_correct }}</p>
            {% endif %}
        </div>
    </div>

    <p><small><strong>Note:</strong> "H" stands for Healthy and "B" stands for Unhealthy.</small></p>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#incorrectLabels" aria-expanded="false" aria-controls="incorrectLabels">
        Your Incorrect Labels
    </button>
    

    <div class="collapse mt-3" id="incorrectLabels">
        <div class="row">
            {% if user_incorrect_images %}
                {% for filename, user_label, correct_label, session_id in user_incorrect_images %}
                    <div class="col-md-4 mb-3">
                        <img src="https://agro-ai-maize.s3.us-east-2.amazonaws.com/images_compressed/{{ filename }}" alt="Incorrect Image" class="img-fluid">
                        <p><strong>Image:</strong> {{ filename }}</p>
                        <p><strong>Your Label:</strong> {{ user_label }} | <strong>Correct Label:</strong> {{ correct_label }} | <strong>Session:</strong> {{ session_id }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p><small><strong>Congrats:</strong> You mislabeled no images.</small></p>
            {% endif %}    
        </div>
    </div>

    {% if top_user_accuracy %}
    <hr>
    <h4 class="mt-4">Top 5 Most Accurate Users</h4>
    <div class="mt-4">
        {% for email, accuracy in top_user_accuracy %}
        <div>
            <p><strong>{{ loop.index }}. User:</strong> {{ email }} <strong> - Accuracy:</strong> {{ accuracy }}%</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {% if top_user_models_accuracy %}
    <hr>
    <h4 class="mt-4">Top 5 Most Accurate User Models</h4>
    <div class="mt-4">
        {% for email, accuracy in top_user_models_accuracy %}
        <div>
            <p><strong>{{ loop.index }}. User:</strong> {{ email }} <strong> - Accuracy:</strong> {{ accuracy }}%</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if top_user_image_model_confidence %}
    <hr>
    <h4 class="mt-4">Top 3 Highest Confidence Images</h4>
    <div class="row justify-content-center">
        {% for filename, confidence, session_id, label in top_user_image_model_confidence %}
        <div class="col-md-4 text-center mb-4">
            <img src="https://agro-ai-maize.s3.us-east-2.amazonaws.com/images_compressed/{{ filename }}" alt="Mislabeled Image" class="img-fluid mb-2" style="max-width: 300px;">
            <p><strong>{{ loop.index }}. Image:</strong> {{ filename }} | <strong>Label:</strong> {{ label }} | <strong>Session:</strong> {{ session_id }}</p>
            <p><strong>Model Confidence:</strong> {{ confidence }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if top_mislabeled_images_user %}
    <hr>
    <h4 class="mt-4">Top 3 Most Mislabeled Images (Current User)</h4>
    <div class="row justify-content-center">
        {% for filename, count in top_mislabeled_images_user.items() %}
        <div class="col-md-4 text-center mb-4">
            <img src="https://agro-ai-maize.s3.us-east-2.amazonaws.com/images_compressed/{{ filename }}" alt="Mislabeled Image" class="img-fluid mb-2" style="max-width: 300px;">
            <p><strong>{{ loop.index }}. Image:</strong> {{ filename }}</p>
            <p><strong>Times Mislabeled:</strong> {{ count }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if top_mislabeled_images_all_users %}
    <hr>
    <h4 class="mt-4">Top 3 Most Mislabeled Images (All Users)</h4>
    <div class="row justify-content-center">
        {% for filename, count in top_mislabeled_images_all_users.items() %}
        <div class="col-md-4 text-center mb-4">
            <img src="https://agro-ai-maize.s3.us-east-2.amazonaws.com/images_compressed/{{ filename }}" alt="Mislabeled Image" class="img-fluid mb-2" style="max-width: 300px;">
            <p><strong>{{ loop.index }}. Image:</strong> {{ filename }}</p>
            <p><strong>Times Mislabeled:</strong> {{ count }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}    
    
    {% if top_mislabeled_images_user_model %}
    <hr>
    <h4 class="mt-4">Top 3 Most Mislabeled Images (Current User's Models)</h4>
    <div class="row justify-content-center">
        {% for filename, count in top_mislabeled_images_user_model.items() %}
        <div class="col-md-4 text-center mb-4">
            <img src="https://agro-ai-maize.s3.us-east-2.amazonaws.com/images_compressed/{{ filename }}" alt="Mislabeled Image" class="img-fluid mb-2" style="max-width: 300px;">
            <p><strong>{{ loop.index }}. Image:</strong> {{ filename }}</p>
            <p><strong>Times Mislabeled:</strong> {{ count }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}    

    {% if top_mislabeled_images_all_users_model %}
    <hr>
    <h4 class="mt-4">Top 3 Most Mislabeled Images (All Users' Models)</h4>
    <div class="row justify-content-center">
        {% for filename, count in top_mislabeled_images_all_users_model.items() %}
        <div class="col-md-4 text-center mb-4">
            <img src="https://agro-ai-maize.s3.us-east-2.amazonaws.com/images_compressed/{{ filename }}" alt="Mislabeled Image" class="img-fluid mb-2" style="max-width: 300px;">
            <p><strong>{{ loop.index }}. Image:</strong> {{ filename }}</p>
            <p><strong>Times Mislabeled:</strong> {{ count }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}    
</div>

{% endblock %}